.sticky-banner {
  position: fixed;
  bottom: 0;

  opacity: 1;

  background-color: white;
  width: 100vw;
  height: 35vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.sticky-banner strong {
  color: #46a6ff;
}

.ptc-logo {
  max-width: 20%;
  min-height: 28%;
  object-fit: center;
  
  max-height: 100%;
}

.ptc-banner {
  display: none;
}

.sticky-banner-content-container {
  margin: 0;

  max-width: 75%;

  font-family: Metropolis, sans-serif;
  font-size: 0.95rem;
  color: #a1a6b0;
}

.sticky-banner .sticky-banner-content-container p {
  /* overwriting style in main theme */
  margin-bottom: 0;
}

.sticky-banner-fade-out {
  animation: fadeOut 1s;
  animation-fill-mode: forwards
}

#sticky-banner-close-button {
  position: absolute;
  top: 15px;
  left: 15px;

  cursor: pointer;
}

@media (max-width: 775px) {
  .sticky-banner {
    height: 90vh;
    width: 100vw;

    display: block;
  }

  .ptc-logo {
    display: none;
  }

  .ptc-banner {
    display: block;
    position: absolute;
    bottom: 0;

    max-height: 33.5vh;
    width: 100%;
    object-fit: center;
  }

  .sticky-banner-content-container {
    font-size: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    margin: auto;
    text-align: center;
    padding-top: 20%;
  }

  #sticky-banner-close-button {
    font-size: 1.5rem;

    top: 60px;
    left: 25px;
  }
}

@media (max-width: 775px) and (max-height: 600px) {
  .sticky-banner-content-container {
    font-size: 0.79rem;
  }
}

@media (max-height: 600px) {
  .sticky-banner-content-container {
    font-size: 0.79rem;
    line-height: 18px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}
